// Usually would import colours, but for simplicity just define here
$background-accent:   #E3EBEE;

.page-background {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    inset: 0rem;
    background-color: $background-accent;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-divider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: end;
}

h1 {
    padding: 2rem;
}

span {
    padding-bottom: 1rem;
}