<div class="page-background">

    <h1>Currency Converter</h1>

    <app-card>
        <!-- Inject HTML to go inside of card component -->

        <div class="input-container">
            <div class="card-divider">

                <span>From</span>

                <app-select 
                    [label]="'Select currency'" 
                    [data]="currencies" 
                    [isLoading]="isCurrencyLoading"
                    [value]="selectedFromCurr"
                    (selectedCurr)="selectedFromCurr = $event" />

                <app-userInput
                    [label]="'Enter amount'"
                    (inputNumber)="fromAmount = $event"
                    [value]="fromAmount" />

            </div>

            <!-- This button is a component unique to this page - will make it standalone for simplicity -->
            <button matIconButton (click)="swapCurrencies()">  
                <mat-icon>swap_horiz</mat-icon>
            </button>

            <div class="card-divider">

                <span>To</span>

                <app-select 
                    [label]="'Select currency'"
                    [data]="currencies" 
                    [isLoading]="isCurrencyLoading"
                    [value]="selectedToCurr"
                    (selectedCurr)="selectedToCurr = $event" />

                <app-userInput 
                    [label]="'Result'" 
                    [readonly]="true"
                    [value]="toAmount" />

            </div>
        </div>

        <div class="button-container">
            <app-button
                *ngIf="!isConversionLoading"
                [label]="'Calculate'"
                (click)="calculateConversion()" />
            <!-- For simplicity lets just put the loading icon next to the button -->
            <mat-spinner
                *ngIf="isConversionLoading"
                [diameter]="40"
                style="padding-right: 5rem;" />
        </div>

    </app-card>

    <app-notification 
        *ngIf="showNotification"
        [message]="notificationMessage"
        [messageType]="notificationType" />

</div>